<div class="dishdetail-body row">

	<div class="panel panel-Info col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= obj.dishDetail.getDishName() %> Reviews</h3>
		</div>

		<div class="panel-body">
			<ul class="list-group">
				<% _.each(obj.dishDetail.getReviews(), function(r) { %>
					<li class="list-group-item">
						<span class="glyphicon glyphicon-comment"></span>
						<span><%= r %></span>
					</li>
				<% }); %>
			</ul>
		</div>
	</div>


	<div class="panel panel-info col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
		<div class="panel-heading">
		    <h3 class="panel-title"><%= obj.dishDetail.getRestaurantName() %></h3>
		</div>

		<div class="panel-body">
		    <p><%= obj.dishDetail.getRestaurantAddr() %></p>
		    <p><%= obj.dishDetail.getRestaurantTel() %></p>
		    <p>Yelp Review: 
		    	<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
		    </p>
		</div>
	</div>

</div>
