<nav class="col-md-10 navbar-fixed-bottom panel-info dd-panel-group">
    <div class="panel-heading">
        <h3 class="panel-title"><%= obj.dishDetail.getRestaurantName() %></h3>
    </div>

    <div class="panel-body dd-footer-info">
        <!--WEB-->
        <p>
            <a href="http://maps.google.com/?q=<%= obj.dishDetail.getRestaurantAddr() %>" target="_blank">
                <%= obj.dishDetail.getRestaurantAddr() %>
            </a>
        </p>
        <!--END_WEB-->

        <!--ANDROID-->
        <p>
            <a href="geo:0,0?q=<%= obj.dishDetail.getRestaurantAddr() %>">
                <%= obj.dishDetail.getRestaurantAddr() %>
            </a>
        </p>
        <!--END_ANDROID-->

        <!--IOS-->
        <p>
        <a href="maps:q=<%= obj.dishDetail.getRestaurantAddr() %>">
            <%= obj.dishDetail.getRestaurantAddr() %>
        </a>
        </p>
        <!--END_IOS-->

        <!-- google map app on ios 
        <p>
        <a href="comgooglemaps://?q=<%= obj.dishDetail.getRestaurantAddr() %>">
            <%= obj.dishDetail.getRestaurantAddr() %>
        </a>
        </p>
        -->

        <p><%= obj.dishDetail.getRestaurantTel() %></p>
    </div>
</nav>
