<nav class="col-md-10 navbar-fixed-bottom panel-info dd-panel-group">
    <div class="panel-heading">
        <h3 class="panel-title"><%= obj.dishDetail.getRestaurantName() %></h3>
    </div>

    <div class="panel-body dd-footer-info">
        <!--WEB-->
            <a href="http://maps.google.com/?q=<%= obj.dishDetail.getRestaurantAddr() %>" target="_blank">
                <%= obj.dishDetail.getRestaurantAddr() %>
            </a>
        <!--END_WEB-->
        <!--ANDROID-->
            <a href="geo:0,0?q=<%= obj.dishDetail.getRestaurantAddr() %>">
                <%= obj.dishDetail.getRestaurantAddr() %>
            </a>
        <!--END_ANDROID-->
        <!--IOS-->
            <a href="maps:q=<%= obj.dishDetail.getRestaurantAddr() %>">
                <%= obj.dishDetail.getRestaurantAddr() %>
            </a>
        <!--END_IOS-->

        <!-- NOT USED yet: launch google map app on ios
        <a href="comgooglemaps://?q=<%= obj.dishDetail.getRestaurantAddr() %>">
            <%= obj.dishDetail.getRestaurantAddr() %>
        </a>
        -->        
        <p><%= obj.dishDetail.getRestaurantTel() %></p>
    </div>
</nav>
